<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Basic app for handling talk-submissions">
    <meta name="author" content="David Schmitz">

    <title>Talk Submission Administration</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/font-awesome.min.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if @current_user do %>
              <li>
                <%=
                  link @current_user.name, to: user_path(@conn, :show, @current_user), title: "Your account"
                %>
              </li>

              <%= if Callforpapers.User.is_organizer?(@current_user) do %>
                <li>
                  <%= link fa_icon("user"), to: user_path(@conn, :index), title: "Presenters" %>
                </li>

                <li>
                  <%= link fa_icon("graduation-cap"), to: conference_path(@conn, :index), title: "Conferences" %>
                </li>
              <% end %>

              <li>
                  <%= link fa_icon("volume-control-phone"), to: callforpapers_path(@conn, :index), title: "Call-for-Papers" %>
              </li>

              <li>
                <%= link fa_icon("book"), to: submission_path(@conn, :index), title: "Submissions" %>
              </li>

              <li>
                <%= link fa_icon("mail-reply-all"), to: filing_path(@conn, :index), title: "Filings" %>
              </li>

              <li>
                <%= link  fa_icon("power-off"), to: session_path(@conn, :delete, @current_user), method: "delete", title: "Logout" %>
              </li>

              <li>
                <%= link fa_icon("home"), to: page_path(@conn, :index), title: "Home" %>
              </li>

            <% else %>
              <li>
                <%= link fa_icon("user-plus", text: "Register"), to: user_path(@conn, :new), title: "Register"%>
              </li>
              <li>
                <%= link fa_icon("user-circle", text: "Login"), to: session_path(@conn, :new), title: "Login" %>
              </li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
