<h2>Edit talk</h2>

<%= render "form.html", changeset: @changeset,
                        durations: @durations,
                        conn: @conn,
                        action: talk_path(@conn, :update, @submission) %>

