<h2>New talk</h2>

<%= render "form.html", changeset: @changeset,
                        durations: @durations,
                        presenter: @presenter,
                        conn: @conn,
                        action: talk_path(@conn, :create) %>