<h2>Edit callforpapers</h2>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        cfp_stati: @cfp_stati,
                        action: callforpapers_path(@conn, :update, @callforpapers) %>

