<h2>New callforpapers</h2>

<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        cfp_stati: @cfp_stati,
                        conferences: @conferences,
                        mode: :new,
                        action: callforpapers_path(@conn, :create) %>

