<h2>New callforpapers</h2>

<%= render "form.html", changeset: @changeset,
                        action: callforpapers_path(@conn, :create) %>

<%= link "Back", to: callforpapers_path(@conn, :index) %>
