<h2>Show rating</h2>

<ul>

  <li>
    <strong>Presentation:</strong>
    <%= @rating.presentation_id %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @rating.user_id %>
  </li>

</ul>

<%= link "Edit", to: rating_path(@conn, :edit, @rating) %>
<%= link "Back", to: rating_path(@conn, :index) %>
